:root{
  --elements:hsl(0, 0%, 100%);
  --background:hsl(0, 0%, 52%);
  --text:black;
}

body {
  background-color:var(--background);
}

.MuiAppBar-colorPrimary {
  background-color: var(--elements) !important;
  color: var(--text) !important;
}

input[placeholder], [placeholder], *[placeholder], .MuiIconButton-label {
  color: var(--text) !important;
}

select {
  padding: 15px;
  border-color: transparent;
  background-color: var(--elements);
  color: var(--text) !important;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.Navigator {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
}

.ItemButtom {
  background-color: transparent;
  border-color: transparent;
}
